<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
  <title>DongwonMap</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <script type="text/javascript"
    src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=az6haq9mh5 "></script>
  <script type="text/javascript"
    src="//dapi.kakao.com/v2/maps/sdk.js?appkey=87865112ea25b9c326a65e83e027b233&libraries=services"></script>
</head>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="/javascripts/sideInformation.js"></script>

<body>
  <div id="navbar">Dynamic Object Monitering System</div>


  <nav>
    <div class="nav-links">
      <img class="DO-image" src="http://61.252.59.34:31014/s/WQMn7kwZKFbryM5/preview" width="100%" height="140"
        style="margin-top:20px;">
      <div class="DO-title">
        <span id="DO-title">광진구 구의동 사고현장</span>
      </div>
      <div class="DO-information">

        <div class="DO-detail">
          <div class="DO-detail1">
            <i class="fas fa-map-marker-alt fa-xs"></i>
          </div>
          <span id="DO-address">광진구 화양동 5-69</span>
        </div>

        <div class="DO-detail">
          <div class="DO-detail1">
            <i class="fas fa-clock fa-xs"></i>
          </div>
          <span id="DO-start-time">2022-05-11 발생됨</span>
        </div>

        <div class="DO-detail">
          <div class="DO-detail1">
            <i class="fab fa-buffer fa-xs"></i>
          </div>
          <span id="DO-current" style="margin-left: 7px; !important">처리 중</span>
        </div>

        <div class="DO-detail">
          <div class="DO-detail1">
            <i class="fas fa-info-circle fa-xs"></i>
          </div>
          <span id="DO-condition" style="margin-left: 5px; !important">교통 혼잡</span>
        </div>
      </div>
    </div>
  </nav>

  <!-- <div id="infoBox">
    <div id="infoTitle">현재 날짜</div>
    <div id="infoContent">2022.07.25</div>
  </div> -->

  <div id="search">
    <input id="search_input" placeholder="목적지를 입력해주세요" />
    <button id="search_button">
      <i class="fas fa-search fa"></i>
    </button>
  </div>

  <div id="current">
    <i class="fa fa-crosshairs fa-xs"></i>
  </div>

  <div id="map" style="width:100%;height:100vh;"></div>


  <script type="text/javascript" src="/data/data.js"></script>

  <script>
    // DB 쿼리 데이터 받아와서 파싱하는 부분
    var objList = "<%= JSON.stringify(objList)  %>";
    objList = objList.replaceAll('&#34;', '\"');
    objList = JSON.parse(objList);
    console.log(objList);

    var mapOptions = {
      center: new naver.maps.LatLng(37.54068153336992, 127.07633168358925),
      zoom: 14
    };

    var map = new naver.maps.Map('map', mapOptions);
    var markerList = [];
    var infoWindowList = [];
    var currentOpen;

    for (var i = 0; i < objList.length; i++) {

      var latlng = new naver.maps.LatLng(objList[i].lat, objList[i].lng);

      marker = new naver.maps.Marker({
        map: map,
        position: latlng,
        icon: {
          content: "<div class='marker'></div>",
          anchor: new naver.maps.Point(12, 12),
        },
      })
      let blob = new Blob([new ArrayBuffer(objList[i].image)], { type: "image/jpg" });
      console.log(objList[i].image);
      var content = `<div class='infowindow_wrap'>
        <div class='infowindow_title'>${objList[i].image_name}</div>
        <img src="${window.URL.createObjectURL(blob)}" width=100" height="100">
      </div>`
      console.log(window.URL.createObjectURL(blob));
      var infowindow = new naver.maps.InfoWindow({
        content: content,
        backgroundColor: "#00ff0000",
        borderColor: "#00ff0000",
        anchorSize: new naver.maps.Size(0, 0),
      })

      markerList.push(marker);
      infoWindowList.push(infowindow);
    }


    for (var i = 0, ii = markerList.length; i < ii; i++) {
      naver.maps.Event.addListener(map, "click", ClickMap(i));
      naver.maps.Event.addListener(markerList[i], "click", getClickHandler(i));
    }

    function ClickMap(i) {
      return function () {
        var infowindow = infoWindowList[i];
        var nav = document.querySelector("nav");
        var link = document.querySelector("nav .nav-links");
        infowindow.close();
        nav.classList.remove("nav-open");
        nav.classList.remove("fade-in");
      }
    }

    function getClickHandler(i) {
      return function () {

        var marker = markerList[i];
        var infowindow = infoWindowList[i];

        var nav = document.querySelector("nav");
        var link = document.querySelector("nav .nav-links");

        var title = document.getElementById("DO-title");
        var start_time = document.getElementById("DO-start-time");
        var current = document.getElementById("DO-current");
        var condition = document.getElementById("DO-condition");
        var DO_image = document.getElementsByClassName("DO-image");

        if (nav.classList.contains("nav-open") && currentOpen === i) {
          //infowindow.close();
          nav.classList.remove("nav-open");
          nav.classList.remove("fade-in");
        } else {
          //infowindow.open(map, marker);
          nav.classList.add("nav-open");
          link.classList.add("fade-in");

          title.innerText = objList[i].object_type;
          start_time.innerText = objList[i].start_time;
          current.innerText = "처리 중";
          condition.innerText = "교통 혼잡";
          DO_image[0].setAttribute('src', objList[i].image_path)
          currentOpen = i;
        }
      }
    }

    let currentUse = true;

    $('#current').click(() => {
      if ('geolocation' in navigator) {
        navigator.geolocation.getCurrentPosition(function (position) {
          const lat = position.coords.latitude;
          const lng = position.coords.longitude;
          const latlng = new naver.maps.LatLng(lat, lng);
          if (currentUse) {
            marker = new naver.maps.Marker({
              map: map,
              position: latlng,
              icon: {
                content: '<img class="pulse" draggable="false" unselectable="on" src="https://myfirstmap.s3.ap-northeast-2.amazonaws.com/circle.png">',
                anchor: new naver.maps.Point(11, 11),

              }
            });
            currentUse = false;
          }
          map.setZoom(14, false);
          map.panTo(latlng);
        });
      } else {
        alert("위치 정보 사용 불가능");
      }
    })

    let ps = new kakao.maps.services.Places();
    let search_arr = [];

    $("#search_input").on("keydown", function (e) {
      if (e.keyCode === 13) {
        let content = $(this).val();
        ps.keywordSearch(content, placeSearchCB);
      }
    });

    $("#search_button").on("click", function (e) {
      let content = $("#search_input").val();
      ps.keywordSearch(content, placeSearchCB);
    })
    function placeSearchCB(data, status, pagination) {
      if (status === kakao.maps.services.Status.OK) {
        let target = data[0];
        const lat = target.y;
        const lng = target.x;
        const latlng = new naver.maps.LatLng(lat, lng);
        marker = new naver.maps.Marker({
          position: latlng,
          map: map
        })
        if (search_arr.length == 0) {
          search_arr.push(marker)
        } else {
          search_arr.push(marker)
          let pre_marker = search_arr.splice(0, 1);
          pre_marker[0].setMap(null);
        }

        map.setZoom(14, false);
        map.panTo(latlng);

      } else {
        alert("검색 결과 없음");
      }
    }
  </script>
  <script src="https://kit.fontawesome.com/6478f529f2.js" crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/3b5864e969.js" crossorigin="anonymous"></script>


</body>

</html>